.box-header {
    height: 50px;
    border: 2px solid grey;
    padding: 10px 20px;    
}

header h1 {
    float: left;
    margin: auto;
}

header form {
    float: right;
    margin: auto;
}

.box-sub-header {
    height: 20px;
    border: 2px solid grey;
    padding: 10px;    
}

.box-left {
    margin-top: 10px; 
    margin-right: 10px;   
    width: 25%;    
    border: 2px solid grey;
    padding: 10px;
    float: left;
    box-sizing: border-box;   
}

.box-left p {
    font-size: .9em;      
}

.enlaces-relacionados a {
    display: block;
}

.box-centre {
    margin-top: 10px;    
    width: 73%;    
    border: 2px solid grey;
    float: right; 
    box-sizing: border-box;    
}

.box-centre-left{        
    width: 70%;
    margin-right: 10px;    
    border: 2px solid grey;
    padding: 10px;
    float: left; 
    box-sizing: border-box;
}

.box-centre-right {        
    width: 28%;    
    border: 2px solid grey;
    padding: 10px;
    float: right; 
    box-sizing: border-box; 
}

.image {
height: 100px;
width: 100px;
background-color: grey;
border: 1px solid black;
}

.box-centre-left p {
    float: left;    
}

.box-footer {    
    width: 100%;    
    border: 2px solid grey;
    box-sizing: border-box;
    overflow: auto;
    padding: 10px 20px;    
}

footer p {
    float: left;
}

#copyright {
    float: right;
}


    
}

