.box-header {
    height: 50px;
    border: 2px solid grey;
    padding: 10px 20px;    
}

header h1 {
    float: left;
    margin: auto;
}

header form {
    float: right;
    margin: auto;
}

.box-sub-header {
    height: 20px;
    border: 2px solid grey;
    padding: 10px;    
}

.box-left {
    margin-top: 10px; 
    margin-right: 10px; 
    margin-bottom: 10px;  
    width: 25%;    
    border: 2px solid grey;
    padding: 10px;
    float: left;
    box-sizing: border-box;      
}

.box-left p {
    font-size: .9em;      
}

.enlaces-relacionados a {
    display: block;
}

.box-centre {
    margin-top: 10px;         
    width: 73%;    
    border: 2px solid grey;
    float: right; 
    box-sizing: border-box;    
}

.box-left p, .box-left h3 {    
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.publicidad h3 {
margin-top: 30px;
}

.box-centre p, .box-centre h1 {    
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

.box-centre-left{        
    width: 70%;
    margin-right: 10px;    
    border: 2px solid grey;
    padding: 3%;
    float: left; 
    box-sizing: border-box;
}

.box-centre-left img {
    width: 20%;
    float: left;
    margin-top: 10px;    
}

.box-centre-left p {
    width: 78%;
    float: right;    
}

.box-centre-left a {
    display: block;
    clear: both;    
}

.box-centre-right {        
    width: 28%;    
    border: 2px solid grey;
    padding: 10px;
    float: right; 
    box-sizing: border-box; 
}

footer {
    width: 100%;
}

.box-footer {
    border: 2px solid grey;
    box-sizing: border-box;
    overflow: auto;    
    clear: both;
}

footer p {
    float: left;
}

#copyright {
    float: right;
}